<!-- <app-navbar></app-navbar> -->
 
<div [@slideInOut]="helpMenuOpen" class="d-inline-block">
    <span>MENU</span>
    <div class="menu one propos"><a href="/apropos">À PROPOS</a></div>
    <div class="menu two contact"><a href="/contact">Contact</a></div>
    <div class="menu four projects"><a href="#/projets">Projets</a></div>
    <div class="menu four opportunite"><a href="#/oportunite">Opportunité</a></div>
    <div class="address">
        <span>adresse</span>
        <h3>falaises 14
        2000 neuchâtel</h3>
        <span>courriel</span>
        <h3>archi@idos.ch</h3>
        <span>téléphone</span>
        <h3>+41 32 665 22 22</h3>

    </div>
 </div>
 <button class="float-right"   (click)="toggleHelpMenu($event)">help</button>
<div class="overflow-hidne menuk"> 
     
    <div class="menu one propos"><a href="/apropos">À PROPOS</a></div>
    <div class="menu two contact"><a href="/contact">Contact</a></div>
    <div class="menu four projects"><a href="#/projets">Projets</a></div>
    <div class="menu four opportunite"><a href="#/oportunite">Opportunité</a></div>
    <div class="logo top"><a href="#/"><img src="assets/images/idos_top_black.548c35a6.svg" width="100"></a></div>
        <router-outlet></router-outlet>
    <div class="logo bottom"><a href="#/"><img src="assets/images/IDOS_bottom_black.3c65a55b.svg" width="100"></a></div>
</div>

<!-- <footer>

</footer> -->